<div class="row col-xs-12">
  <h1>Name</h1>
</div>
<div class="row">
  <div class="pull-left" style="margin-left: 5%; width: 100px; height: 125px; border: 1px solid black">
    <img src="" alt="">
  </div>
  <div class="pull-right" style="margin-top: 15%;">
    <a class="btn btn-primary">Edit</a>
    &nbsp;
    <a class="btn btn-danger">Delete</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    Email: example@byui.edu
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Phone:(208) 123-456
  </div>
</div>
